.footer{
    background: #DDC3A5;
    height: 11rem;
    width: 100%;
    color: #201E20;
}

.github{
    height: 3.5rem;
    margin-left: 35rem;
    margin-top: 2rem;
}

.stack{
    height: 3.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.linkedin{
    height: 3.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
}