
.name{
    color: #201E20;
    padding: 1.5rem;
}

.headerContainer{
    width: 100%;
    background: #DDC3A5;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
}

.headerContainer h1{
    margin: 0;
    display: inline-block;
    align-items: center;
}

.headerContainer ul{
    display: inline-block;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.headerContainer li{
    margin-right: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.nav-items{
    color: #201E20;
    font-weight: bolder;
}

